{% extends 'colecaofilmes/base.html' %}

{% load crispy_forms_tags %}

{% block title %}CineBox{% endblock %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <h2>Login CineBox</h2>
            <form method="POST" class="post-form col-8" enctype="multipart/form-data">
                {% csrf_token %}
                <a>{{ form|crispy}}</a>
                <button type="submit" value="Login" class="save btn btn-warning">Entrar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}