{% extends 'colecaofilmes/base.html' %}

{% load crispy_forms_tags %}

{% block title %}CineBox{% endblock %}

{% block content %}

<div class="container text-center login-wrap mt-4">
    <div class="row">
        <div class="col mt-4">
            <h1><i class="fas fa-box-open"></i></h1>
            <h2>Registre-se no CineBox</h2>
            <form method="POST" class="post-form col-8 form-signin" enctype="multipart/form-data">
                {% csrf_token %}
                <a>{{ form|crispy}}</a>
                <button type="submit" value="Login" class="btn-block btn btn-color mt-4">Registrar</button>
            </form>
        </div> 
    </div>
</div>

{% endblock %}