{% extends 'colecaofilmes/base.html' %}

{% load crispy_forms_tags %}

{% block title %}CineBox{% endblock %}

{% block content %}

<div class="container card mt-4">
    <div class="row mt-4">
        <div class="col">
            <h2>Cadastre seu filme</h2>
            {% if user.is_authenticated %}
                <form method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <a>{{ form|crispy}}</a>
                    <button type="submit" class="button-save btn btn-warning">Save</button>
                </form>
            {% else %}
                <div class="dropdown-divider"></div>
                <div class="text-center mt-5">
                    <h2>Não é possível cadastrar seu filme :(</h2>
                    <a>Cadastre-se ou faça seu login no site para adicionar:</a>
                    <a type="button" href="{% url 'login' %}" class="btn button-exception ml-3">Login</a>
                    <a type="button" href="{% url 'registrar' %}" class="btn button-exception ml-3">Cadastre-se</a>
                </div>
            {% endif %}            
        </div>
    </div>            
</div>
{% endblock %}