{% extends 'colecaofilmes/base.html' %}

{% block title %}CineBox{% endblock %}

{% block content %}

{% if user.is_authenticated %}
       
    <div class="container mt-4">
        <h2 class="mt-4">Coleção de Filmes</h2>
        <div class="dropdown-divider"></div>
        {% for filmes in filme  %}
            <h2 class="mt-4">{{ filmes.genero }}</h2>
            <div class="dropdown-divider"></div>
            <div class="center slider mt-4">
                <div class="carousel2">
                    <div class="card">
                        <img class="card-img-top img-card" src="/media/{{ filmes.capa }}" alt="..." >
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'detalharfilme' filmes.id %}">{{ filmes.titulo }}</a></h5>
                            <p class="card-text scrollable" id="style-1">{{ filmes.sinopse }}</p>
                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center"><a class="btn" href="{% url 'deletarfilme' filmes.id %}"><i class="fas fa-trash-alt fa-lg"></i></a><a class="btn" href="{% url 'editarfilme' filmes.id %}"><i class="fas fa-edit fa-lg"></i></a></p>
                        </div>
                    </div>    
                </div>
            </div>
        {% endfor %} 
    </div>            
{% else %}
    <div class="container card mt-4">
        <div class="row mt-4">
            <div class="col">
                <h2>Coleção de Filmes</h2>
                <div class="dropdown-divider"></div>
                <div class="text-center mt-5">
                    <h2>Nenhum filme na sua coleção :(</h2>
                    <a>Cadastre-se ou faça seu login no site para vizualizar:</a>
                    <a type="button" href="{% url 'login' %}" class="btn button-exception ml-3">Login</a>
                    <a type="button" href="{% url 'registrar' %}" class="btn button-exception ml-3">Cadastre-se</a>
                </div>
            </div>
        </div>
    </div>        
{% endif %} 

{% endblock %}
