{% extends 'colecaofilmes/base.html' %}

{% load embed_video_tags %}

{% block title %}CineBox{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2 class="my-4">{{ filme.titulo }}</h2>
    <div class="dropdown-divider" style="max-width: 95%;"></div>
    <div class="card mb-3 mt-4" style="max-width: 95%;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img img-card-detail" src="/media/{{ filme.capa }}" alt="...">
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h2 class="card-title">Sinopse</h2>
                    <p class="card-text scrollable" id="style-1">{{ filme.sinopse }}</p>
                    <h2 class="card-title">Trailer</h2>
                    {% video filme.video '420x238' %}
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <h2 class="card-title">Detalhes</h2>
                <ul>
                    <li>Ano: {{ filme.ano }}</li>
                    <li>Gênero: {{ filme.genero }}</li>
                    <li>Duração: {{ filme.duração }} min</li>
                    <li>Produtora: {{ filme.produtora }}</li>
                    <li>Mídia: {{ filme.midia }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}