body {
    background-color: #1B1B1E;
}

tr, h1, h2, a {
    color: #FAA916 !important;
    font-family: 'Montserrat'; 
}

h2 {
    margin-bottom: 20px;
}

/*
 *  NavBar
 */

.page-header {
    background-color: #96031A;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    text-decoration: none;
}

.nav-menu {
    margin-left: 74% !important;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #FAA916;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.dropdown .dropdown-menu a:hover {
    background-color: #96031A;
}

/*
 *  Form Geral
 */

.post-form textarea, .post-form input, .post-form:hover{
    width: 100%;
    background-color: transparent !important;
    color: #FAA916 !important;
}

input[type=text], [type=number], [type=file], [type=password]{
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #FAA916;
}

textarea{
    box-sizing: border-box !important;
    border: none !important;
    border-bottom: 2px solid #FAA916 !important;
    height: 50px !important;
}

.button-save {
    float: right;
    margin-bottom: 20px !important;
    background-color: #FAA916;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
}

/*
 *  Sessão index sobre cinebox
 */

.icon-section{
    color: #FAA916;
    font-family: 'Montserrat';
}

.text-edit{
    font-size: 19px;
}

/*
 *  Footer
 */

.footer {
    background-color: #96031A;
    color: #FAA916;
    width: 100%;
    position: absolute;
    text-align: center;
}

/*
 *  Tela de não está logado
 */

.button-exception{
    background-color: #96031A;
}

/*
 *  Scroll
 */

 #style-1::-webkit-scrollbar-track{
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.144);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 #style-1::-webkit-scrollbar{
     width: 12px;
     background-color: #F5F5F5;
 }
 
 #style-1::-webkit-scrollbar-thumb{
     border-radius: 10px;
     background-color: #96031A;
 }

.scrollable{
    overflow-y: auto;
    max-height: 100px;
}

/*
 *  Slick Carousel e Card
 */

.carousel2 {
    margin: 0 auto;
}

.slick-slide {
    margin: 0px 10px;
}

.card:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.img-card {
    width: 100%; 
    height: 300px;
    object-fit: cover;
 }

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
    outline: none;
    box-shadow:none !important;
    border: 1px solid #FAA916 !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.login-wrap{
    width:40%;
    height:100%;
    padding-bottom: 40px;
    background: rgba(150, 3, 25, 0.623);
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.cadastro-wrap{
    width:100%;
    height:100%;
    padding-bottom: 40px;
    background: rgba(150, 3, 25, 0.623);
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.btn-color{
    background-color: #FAA916;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
}