body {
    background-color: #1B1B1E;
}

tr, h1, h2, a {
    color: #FAA916 !important;
    font-family: 'Montserrat'; 
}

h2 {
    margin-bottom: 20px;
}

.page-header {
    background-color: #96031A;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    text-decoration: none;
}

.nav-menu {
    margin-left: 74% !important;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #FAA916;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.save {
    float: right;
    margin-bottom: 20px !important;
}

.logged-in-p{
    margin-bottom: 20px;
    color: #FAA916;
    font-family: 'Montserrat'; 
    padding: 10px;
	width: 100%;
    background-color: #1B1B1E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logged-in-p span {
	display: block;
	float: right;
}

.dropdown .dropdown-menu a:hover {
  background-color: #96031A;
}

.icon-section{
    color: #FAA916;
    font-family: 'Montserrat';
}

.text-edit{
    font-size: 19px;
}

/* .footer {
    background-color: #96031A;
    color: #FAA916;
    width: 100%;
    position: absolute;
    text-align: center;
} */

.bt-color{
    background-color: #96031A;
}

.img-200-200 {
    width: 100%; 
    height: 300px;
    object-fit: cover;
 }

/*
 *  Scroll
 */

 #style-1::-webkit-scrollbar-track{
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.144);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 #style-1::-webkit-scrollbar{
     width: 12px;
     background-color: #F5F5F5;
 }
 
 #style-1::-webkit-scrollbar-thumb{
     border-radius: 10px;
     background-color: #96031A;
 }

.scrollable{
    overflow-y: auto;
    max-height: 100px;
}
